@import '~ant-design-vue/lib/style/color/colorPalette.less';

// -------- 功能色 -----------
@bb-primary-color: #107fff; // 主色
@bb-info-color: @bb-primary-color; // 提示色
@bb-error-color: #ff4384; // 错误色
@bb-success-color: #00d495; // 成功色
@bb-warning-color: #ffca00; // 警告色
@bb-normal-color: #f5f7fa; // 默认背景色
@bb-option-hover-color: #676e75; // 下拉选项的hover颜色
@bb-option-active-color: #f4f8fc; // 下拉选项的active颜色
@bb-line-color: #e0e3e9; // 默认线条颜色
@bb-table-border-color: #ebecee; //表格分割、边框线
@bb-zebra-crossing-color: #fbfcfe; // 斑马线
@bb-zebra-crossing-bg-color: #fafbfb; // 表格行斑马线
// -------- 功能辅助色 -----------
// --- 提示 ---
@bb-info-bg-color: @bb-blue-1;
@bb-info-hover-color: @bb-blue-5;
@bb-info-active-color: @bb-blue-7;
// --- 错误 ---
@bb-error-bg-color: @bb-red-1;
@bb-error-hover-color: @bb-red-5;
@bb-error-active-color: @bb-red-7;
// --- 成功 ---
@bb-success-bg-color: @bb-green-1;
@bb-success-hover-color: @bb-green-5;
@bb-success-active-color: @bb-green-7;
// --- 警告 ---
@bb-warning-bg-color: @bb-yellow-1;
@bb-warning-hover-color: @bb-yellow-5;
@bb-warning-active-color: @bb-yellow-7;
// -------- 预设六种业务颜色 -----------
@bb-blue: #107fff; // 蓝色
@bb-red: #ff4384; // 红色
@bb-purple: #6840ff; // 紫色
@bb-orange: #ff7527; // 橘色
@bb-green: #00d495; // 绿色
@bb-yellow: #ffca00; // 黄色
@bb-daybreak-blue: #1890ff; // 拂晓蓝
@bb-cyan: #13c2c2; // 青色
@bb-gray: @bb-black-4; // 三级黑色(灰色)
@bb-pink: #eb2f96; // 粉色
@bb-volcano-orange: #fa541c; // 火山黄
// -------- 十一种渐变色 -----------
@bb-gradual-blue: linear-gradient(
  44deg,
  rgb(35, 79, 254) 0%,
  rgb(57, 149, 255) 100%
); // 渐变蓝色
@bb-gradual-red: linear-gradient(
  45deg,
  rgb(255, 67, 132) 0%,
  rgb(255, 137, 178) 100%
); // 渐变红色
@bb-gradual-purple: linear-gradient(
  45deg,
  rgb(132, 73, 255) 0%,
  rgb(127, 142, 255) 100%
); // 渐变紫色
@bb-gradual-orange: linear-gradient(
  45deg,
  rgb(255, 101, 21) 0%,
  rgb(255, 155, 21) 100%
); // 渐变橘色
@bb-gradual-green: linear-gradient(
  49deg,
  rgb(0, 222, 172) 0%,
  rgb(0, 233, 220) 100%
); // 渐变绿色
@bb-gradual-yellow: linear-gradient(
  45deg,
  rgb(255, 192, 16) 0%,
  rgb(255, 225, 33) 100%
); // 渐变黄色
@bb-gradual-pink: linear-gradient(
  45deg,
  @bb-pink 0%,
  @bb-pink-4 100%
); // 渐变粉色
@bb-gradual-volcano-orange: linear-gradient(
  45deg,
  @bb-volcano-orange 0%,
  @bb-volcano-orange-4 100%
); // 渐变火山黄
@bb-gradual-black: linear-gradient(
  45deg,
  @bb-black-7 0%,
  @bb-black-4 100%
); // 渐变黑色
@bb-gradual-cyan: linear-gradient(
  45deg,
  @bb-cyan 0%,
  @bb-cyan-4 100%
); // 渐变青色
@bb-gradual-daybreak-blue: linear-gradient(
  45deg,
  @bb-daybreak-blue 0%,
  @bb-daybreak-blue-4 100%
); // 渐变拂晓蓝
// -------- 应用图标颜色 -----------
@bb-app-color-1: @bb-red;
@bb-app-color-2: @bb-purple;
@bb-app-color-3: @bb-orange;
@bb-app-color-4: @bb-green;
@bb-app-color-5: @bb-yellow;
@bb-app-color-6: @bb-volcano-orange;
@bb-app-color-7: @bb-daybreak-blue;
@bb-app-color-8: @bb-cyan;
@bb-app-color-9: @bb-blue;
@bb-app-color-10: @bb-gray;
@bb-app-color-11: @bb-pink;

// -------- 文字颜色 -----------
@bb-text-color-dark: #000000;
@bb-text-color: #304265;
@bb-text-color-light: #8893a7;
@bb-text-color-light-2: #c9ccd8;
@bb-text-color-primary: @bb-primary-color;
@bb-text-color-disabled: #bbbbbb;
@bb-heading-text-color: @bb-text-color;

// --------- 阴影颜色 ---------------
@bb-shadow-color: #d5e8ff;
@bb-dark-shadow-color: rgba(52, 94, 182, 0.2);
// --------- 拖拽 ---------------
@bb-drag-ghost-color: @bb-shadow-color;

// -------- 黑色 -----------
@bb-black-1: #ecf0f6; // hover 色
@bb-black-2: #e3e6ec; // 分割线颜色
@bb-black-3: #ced4dd;
@bb-black-4: #b6bcc6; // 蓝湖自定义三级黑
@bb-black-5: #8e96a4;
@bb-black-6: #777f8d; // 蓝湖自定义二级黑
@bb-black-7: #0f1c35; // 蓝湖自定义一级黑色
@bb-black-8: #000; // 极致黑
@bb-black-9: #000; // 极致黑
@bb-black-10: #000; // 极致黑

@bb-blue-1: color(~`colorPalette('@{bb-blue-6}', 1) `);
@bb-blue-2: color(~`colorPalette('@{bb-blue-6}', 2) `);
@bb-blue-3: color(~`colorPalette('@{bb-blue-6}', 3) `);
@bb-blue-4: color(~`colorPalette('@{bb-blue-6}', 4) `);
@bb-blue-5: color(~`colorPalette('@{bb-blue-6}', 5) `);
@bb-blue-6: @bb-blue;
@bb-blue-7: color(~`colorPalette('@{bb-blue-6}', 7) `);
@bb-blue-8: color(~`colorPalette('@{bb-blue-6}', 8) `);
@bb-blue-9: color(~`colorPalette('@{bb-blue-6}', 9) `);
@bb-blue-10: color(~`colorPalette('@{bb-blue-6}', 10) `);

@bb-green-1: color(~`colorPalette('@{bb-green-6}', 1) `);
@bb-green-2: color(~`colorPalette('@{bb-green-6}', 2) `);
@bb-green-3: color(~`colorPalette('@{bb-green-6}', 3) `);
@bb-green-4: color(~`colorPalette('@{bb-green-6}', 4) `);
@bb-green-5: color(~`colorPalette('@{bb-green-6}', 5) `);
@bb-green-6: @bb-green;
@bb-green-7: color(~`colorPalette('@{bb-green-6}', 7) `);
@bb-green-8: color(~`colorPalette('@{bb-green-6}', 8) `);
@bb-green-9: color(~`colorPalette('@{bb-green-6}', 9) `);
@bb-green-10: color(~`colorPalette('@{bb-green-6}', 10) `);

@bb-red-1: color(~`colorPalette('@{bb-red-6}', 1) `);
@bb-red-2: color(~`colorPalette('@{bb-red-6}', 2) `);
@bb-red-3: color(~`colorPalette('@{bb-red-6}', 3) `);
@bb-red-4: color(~`colorPalette('@{bb-red-6}', 4) `);
@bb-red-5: color(~`colorPalette('@{bb-red-6}', 5) `);
@bb-red-6: @bb-red;
@bb-red-7: color(~`colorPalette('@{bb-red-6}', 7) `);
@bb-red-8: color(~`colorPalette('@{bb-red-6}', 8) `);
@bb-red-9: color(~`colorPalette('@{bb-red-6}', 9) `);
@bb-red-10: color(~`colorPalette('@{bb-red-6}', 10) `);

@bb-yellow-1: color(~`colorPalette('@{bb-yellow-6}', 1) `);
@bb-yellow-2: color(~`colorPalette('@{bb-yellow-6}', 2) `);
@bb-yellow-3: color(~`colorPalette('@{bb-yellow-6}', 3) `);
@bb-yellow-4: color(~`colorPalette('@{bb-yellow-6}', 4) `);
@bb-yellow-5: color(~`colorPalette('@{bb-yellow-6}', 5) `);
@bb-yellow-6: @bb-yellow;
@bb-yellow-7: color(~`colorPalette('@{bb-yellow-6}', 7) `);
@bb-yellow-8: color(~`colorPalette('@{bb-yellow-6}', 8) `);
@bb-yellow-9: color(~`colorPalette('@{bb-yellow-6}', 9) `);
@bb-yellow-10: color(~`colorPalette('@{bb-yellow-6}', 10) `);

@bb-purple-1: color(~`colorPalette('@{bb-purple-6}', 1) `);
@bb-purple-2: color(~`colorPalette('@{bb-purple-6}', 2) `);
@bb-purple-3: color(~`colorPalette('@{bb-purple-6}', 3) `);
@bb-purple-4: color(~`colorPalette('@{bb-purple-6}', 4) `);
@bb-purple-5: color(~`colorPalette('@{bb-purple-6}', 5) `);
@bb-purple-6: @bb-purple;
@bb-purple-7: color(~`colorPalette('@{bb-purple-6}', 7) `);
@bb-purple-8: color(~`colorPalette('@{bb-purple-6}', 8) `);
@bb-purple-9: color(~`colorPalette('@{bb-purple-6}', 9) `);
@bb-purple-10: color(~`colorPalette('@{bb-purple-6}', 10) `);

@bb-orange-1: color(~`colorPalette('@{bb-orange-6}', 1) `);
@bb-orange-2: color(~`colorPalette('@{bb-orange-6}', 2) `);
@bb-orange-3: color(~`colorPalette('@{bb-orange-6}', 3) `);
@bb-orange-4: color(~`colorPalette('@{bb-orange-6}', 4) `);
@bb-orange-5: color(~`colorPalette('@{bb-orange-6}', 5) `);
@bb-orange-6: @bb-orange;
@bb-orange-7: color(~`colorPalette('@{bb-orange-6}', 7) `);
@bb-orange-8: color(~`colorPalette('@{bb-orange-6}', 8) `);
@bb-orange-9: color(~`colorPalette('@{bb-orange-6}', 9) `);
@bb-orange-10: color(~`colorPalette('@{bb-orange-6}', 10) `);

@bb-volcano-orange-1: color(~`colorPalette('@{bb-volcano-orange-6}', 1) `);
@bb-volcano-orange-2: color(~`colorPalette('@{bb-volcano-orange-6}', 2) `);
@bb-volcano-orange-3: color(~`colorPalette('@{bb-volcano-orange-6}', 3) `);
@bb-volcano-orange-4: color(~`colorPalette('@{bb-volcano-orange-6}', 4) `);
@bb-volcano-orange-5: color(~`colorPalette('@{bb-volcano-orange-6}', 5) `);
@bb-volcano-orange-6: @bb-volcano-orange;
@bb-volcano-orange-7: color(~`colorPalette('@{bb-volcano-orange-6}', 7) `);
@bb-volcano-orange-8: color(~`colorPalette('@{bb-volcano-orange-6}', 8) `);
@bb-volcano-orange-9: color(~`colorPalette('@{bb-volcano-orange-6}', 9) `);
@bb-volcano-orange-10: color(~`colorPalette('@{bb-volcano-orange-6}', 10) `);

@bb-daybreak-blue-1: color(~`colorPalette('@{bb-daybreak-blue-6}', 1) `);
@bb-daybreak-blue-2: color(~`colorPalette('@{bb-daybreak-blue-6}', 2) `);
@bb-daybreak-blue-3: color(~`colorPalette('@{bb-daybreak-blue-6}', 3) `);
@bb-daybreak-blue-4: color(~`colorPalette('@{bb-daybreak-blue-6}', 4) `);
@bb-daybreak-blue-5: color(~`colorPalette('@{bb-daybreak-blue-6}', 5) `);
@bb-daybreak-blue-6: @bb-daybreak-blue;
@bb-daybreak-blue-7: color(~`colorPalette('@{bb-daybreak-blue-6}', 7) `);
@bb-daybreak-blue-8: color(~`colorPalette('@{bb-daybreak-blue-6}', 8) `);
@bb-daybreak-blue-9: color(~`colorPalette('@{bb-daybreak-blue-6}', 9) `);
@bb-daybreak-blue-10: color(~`colorPalette('@{bb-daybreak-blue-6}', 10) `);

@bb-cyan-1: color(~`colorPalette('@{bb-cyan-6}', 1) `);
@bb-cyan-2: color(~`colorPalette('@{bb-cyan-6}', 2) `);
@bb-cyan-3: color(~`colorPalette('@{bb-cyan-6}', 3) `);
@bb-cyan-4: color(~`colorPalette('@{bb-cyan-6}', 4) `);
@bb-cyan-5: color(~`colorPalette('@{bb-cyan-6}', 5) `);
@bb-cyan-6: @bb-cyan;
@bb-cyan-7: color(~`colorPalette('@{bb-cyan-6}', 7) `);
@bb-cyan-8: color(~`colorPalette('@{bb-cyan-6}', 8) `);
@bb-cyan-9: color(~`colorPalette('@{bb-cyan-6}', 9) `);
@bb-cyan-10: color(~`colorPalette('@{bb-cyan-6}', 10) `);

@bb-pink-1: color(~`colorPalette('@{bb-pink-6}', 1) `);
@bb-pink-2: color(~`colorPalette('@{bb-pink-6}', 2) `);
@bb-pink-3: color(~`colorPalette('@{bb-pink-6}', 3) `);
@bb-pink-4: color(~`colorPalette('@{bb-pink-6}', 4) `);
@bb-pink-5: color(~`colorPalette('@{bb-pink-6}', 5) `);
@bb-pink-6: @bb-pink;
@bb-pink-7: color(~`colorPalette('@{bb-pink-6}', 7) `);
@bb-pink-8: color(~`colorPalette('@{bb-pink-6}', 8) `);
@bb-pink-9: color(~`colorPalette('@{bb-pink-6}', 9) `);
@bb-pink-10: color(~`colorPalette('@{bb-pink-6}', 10) `);
