@font-face {
  font-family: "bb-icon"; /* Project id 3437670 */
  src: url('iconfont.woff2?t=1669098847691') format('woff2'),
       url('iconfont.woff?t=1669098847691') format('woff'),
       url('iconfont.ttf?t=1669098847691') format('truetype');
}

.bb-icon {
  font-family: "bb-icon" !important;
  display: inline-block;
  line-height: 1.5;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bb-icon-sorting:before {
  content: "\e766";
}

.bb-icon-import:before {
  content: "\e60a";
}

.bb-icon-export:before {
  content: "\e60b";
}

.bb-icon-database-o:before {
  content: "\e608";
}

.bb-icon-database:before {
  content: "\e609";
}

.bb-icon-jiaoseguanli:before {
  content: "\e72c";
}

.bb-icon-wechat-work:before {
  content: "\e607";
}

.bb-icon-dislike-o:before {
  content: "\eb40";
}

.bb-icon-qrcode-o:before {
  content: "\ec47";
}

.bb-icon-windows-o:before {
  content: "\ed4a";
}

.bb-icon-dislike:before {
  content: "\eb41";
}

.bb-icon-recruitment-demand-o:before {
  content: "\ec48";
}

.bb-icon-wechat:before {
  content: "\ed4b";
}

.bb-icon-down-square:before {
  content: "\eb42";
}

.bb-icon-radar-chart-o:before {
  content: "\ec49";
}

.bb-icon-windows:before {
  content: "\ed4c";
}

.bb-icon-double-right-o:before {
  content: "\eb43";
}

.bb-icon-redenvelopes-o:before {
  content: "\ec4a";
}

.bb-icon-zhankai-zj:before {
  content: "\ed4d";
}

.bb-icon-down-square-o:before {
  content: "\eb44";
}

.bb-icon-reload-o:before {
  content: "\ec4b";
}

.bb-icon-yiyue-zj:before {
  content: "\ed4e";
}

.bb-icon-download-o:before {
  content: "\eb45";
}

.bb-icon-rename-box:before {
  content: "\ec4c";
}

.bb-icon-zj-cuiban:before {
  content: "\ed4f";
}

.bb-icon-printing-zj:before {
  content: "\eb46";
}

.bb-icon-reimbursement-applic:before {
  content: "\ec4d";
}

.bb-icon-zip:before {
  content: "\ed50";
}

.bb-icon-double-left-o:before {
  content: "\eb47";
}

.bb-icon-retweet-o:before {
  content: "\ec4e";
}

.bb-icon-zj-lianjiedian:before {
  content: "\ed51";
}

.bb-icon-down-o:before {
  content: "\eb48";
}

.bb-icon-restaurant-menu:before {
  content: "\ec4f";
}

.bb-icon-zj-yonghu:before {
  content: "\ed52";
}

.bb-icon-dot-chart:before {
  content: "\eb49";
}

.bb-icon-reimbursement-o:before {
  content: "\ec50";
}

.bb-icon-words-spacing_o:before {
  content: "\ed53";
}

.bb-icon-drag:before {
  content: "\eb4a";
}

.bb-icon-rest-o:before {
  content: "\ec51";
}

.bb-icon-zancun-zj:before {
  content: "\ed54";
}

.bb-icon-drop-down-o:before {
  content: "\eb4b";
}

.bb-icon-right-alignment:before {
  content: "\ec52";
}

.bb-icon-yiban-zj:before {
  content: "\ed55";
}

.bb-icon-ellipsis-o:before {
  content: "\eb4c";
}

.bb-icon-right-o:before {
  content: "\ec53";
}

.bb-icon-word-file-o:before {
  content: "\ed56";
}

.bb-icon-edit-o:before {
  content: "\eb4d";
}

.bb-icon-received-payments-o:before {
  content: "\ec54";
}

.bb-icon-word-spacing_o:before {
  content: "\ed57";
}

.bb-icon-employee-correction:before {
  content: "\eb4e";
}

.bb-icon-reset-password:before {
  content: "\ec55";
}

.bb-icon-work-handover-o:before {
  content: "\ed58";
}

.bb-icon-earth-o:before {
  content: "\eb4f";
}

.bb-icon-responsive-o:before {
  content: "\ec57";
}

.bb-icon-zj-shengji:before {
  content: "\ed59";
}

.bb-icon-employee-interview-o:before {
  content: "\eb50";
}

.bb-icon-rocket-o:before {
  content: "\ec58";
}

.bb-icon-zuofei-zj:before {
  content: "\ed5a";
}

.bb-icon-employee-roster-o:before {
  content: "\eb51";
}

.bb-icon-reward-punishiment-o:before {
  content: "\ec59";
}

.bb-icon-word:before {
  content: "\ed5b";
}

.bb-icon-employee-help-o:before {
  content: "\eb52";
}

.bb-icon-rollback-odefuben:before {
  content: "\ec5a";
}

.bb-icon-formula-control:before {
  content: "\ebb8";
}

.bb-icon-employee-files-o:before {
  content: "\eb53";
}

.bb-icon-rotate-left-o:before {
  content: "\ec5b";
}

.bb-icon-question:before {
  content: "\ec44";
}

.bb-icon-employee-reward-o:before {
  content: "\eb54";
}

.bb-icon-safety-o:before {
  content: "\ec5c";
}

.bb-icon-rollback-o:before {
  content: "\ec56";
}

.bb-icon-employee-suspension:before {
  content: "\eb55";
}

.bb-icon-salary-sheet-o:before {
  content: "\ec5d";
}

.bb-icon-flow-pass:before {
  content: "\ed5c";
}

.bb-icon-employee-turnover-o:before {
  content: "\eb56";
}

.bb-icon-sales-opportunities:before {
  content: "\ec5e";
}

.bb-icon-close-circle:before {
  content: "\ed5d";
}

.bb-icon-entend-o:before {
  content: "\eb57";
}

.bb-icon-rotate-right-o:before {
  content: "\ec5f";
}

.bb-icon-flow-turndown:before {
  content: "\ed5e";
}

.bb-icon-enter-o:before {
  content: "\eb58";
}

.bb-icon-salary-management-o:before {
  content: "\ec60";
}

.bb-icon-flow-cancel:before {
  content: "\ed5f";
}

.bb-icon-employee-searching-o:before {
  content: "\eb59";
}

.bb-icon-resumption-applicati:before {
  content: "\ec61";
}

.bb-icon-info-cirlce:before {
  content: "\ed60";
}

.bb-icon-employee-training-o:before {
  content: "\eb5a";
}

.bb-icon-sales-direction-o:before {
  content: "\ec62";
}

.bb-icon-flow-finish:before {
  content: "\ed61";
}

.bb-icon-enlarge-o:before {
  content: "\eb5b";
}

.bb-icon-sales-order-o:before {
  content: "\ec63";
}

.bb-icon-delete-o:before {
  content: "\ed62";
}

.bb-icon-employee-entry-o:before {
  content: "\eb5c";
}

.bb-icon-nextlevel-zj114:before {
  content: "\ec64";
}

.bb-icon-excel-file:before {
  content: "\e804";
}

.bb-icon-exception-o:before {
  content: "\eb5d";
}

.bb-icon-sales-outbound-o:before {
  content: "\ec65";
}

.bb-icon-pdf-file:before {
  content: "\e805";
}

.bb-icon-exclamation-circle:before {
  content: "\eb5e";
}

.bb-icon-sales-target-o:before {
  content: "\ec66";
}

.bb-icon-picture-file:before {
  content: "\e806";
}

.bb-icon-entrust-o:before {
  content: "\eb5f";
}

.bb-icon-same-high:before {
  content: "\ec67";
}

.bb-icon-ppt-file:before {
  content: "\e807";
}

.bb-icon-employment-applicati:before {
  content: "\eb60";
}

.bb-icon-same-size:before {
  content: "\ec68";
}

.bb-icon-music-file:before {
  content: "\e808";
}

.bb-icon-entrust2-o:before {
  content: "\eb61";
}

.bb-icon-sales-slip-o:before {
  content: "\ec69";
}

.bb-icon-word-file:before {
  content: "\e809";
}

.bb-icon-exclamation:before {
  content: "\eb62";
}

.bb-icon-save-o:before {
  content: "\ec6a";
}

.bb-icon-text-file:before {
  content: "\e80a";
}

.bb-icon-excel:before {
  content: "\eb63";
}

.bb-icon-scan-o-02:before {
  content: "\ec6b";
}

.bb-icon-zip-file:before {
  content: "\e80b";
}

.bb-icon-expense-account-o:before {
  content: "\eb64";
}

.bb-icon-same-width:before {
  content: "\ec6c";
}

.bb-icon-unkown-file:before {
  content: "\e80c";
}

.bb-icon-eye-close:before {
  content: "\eb65";
}

.bb-icon-sales-stage-o:before {
  content: "\ec6d";
}

.bb-icon-video-file:before {
  content: "\e80d";
}

.bb-icon-eye-o:before {
  content: "\eb66";
}

.bb-icon-scan-o:before {
  content: "\ec6e";
}

.bb-icon-text-a:before {
  content: "\e600";
}

.bb-icon-export_o:before {
  content: "\eb67";
}

.bb-icon-search-zj:before {
  content: "\ec6f";
}

.bb-icon-agree:before {
  content: "\e601";
}

.bb-icon-excle-file-o:before {
  content: "\eb68";
}

.bb-icon-scan-o1:before {
  content: "\ec70";
}

.bb-icon-disagree:before {
  content: "\e602";
}

.bb-icon-facebook-square:before {
  content: "\eb69";
}

.bb-icon-scan-o-03:before {
  content: "\ec71";
}

.bb-icon-urge:before {
  content: "\e603";
}

.bb-icon-exclamation-circle-o:before {
  content: "\eb6a";
}

.bb-icon-select-o:before {
  content: "\ec72";
}

.bb-icon-select-all:before {
  content: "\e965";
}

.bb-icon-eye:before {
  content: "\eb6b";
}

.bb-icon-scan-o-04:before {
  content: "\ec73";
}

.bb-icon-branch-o:before {
  content: "\e604";
}

.bb-icon-fast-forward:before {
  content: "\eb6c";
}

.bb-icon-share-o:before {
  content: "\ec74";
}

.bb-icon-redo:before {
  content: "\e64c";
}

.bb-icon-faqi--zj:before {
  content: "\eb6d";
}

.bb-icon-shake:before {
  content: "\ec75";
}

.bb-icon-undo:before {
  content: "\e64d";
}

.bb-icon-female-o:before {
  content: "\eb6e";
}

.bb-icon-search-o:before {
  content: "\ec76";
}

.bb-icon-vertical-isometric:before {
  content: "\e605";
}

.bb-icon-Fillet-Bottom-left_o:before {
  content: "\eb6f";
}

.bb-icon-setting1:before {
  content: "\ec77";
}

.bb-icon-horizontal-isometric:before {
  content: "\e606";
}

.bb-icon-fast-backward:before {
  content: "\eb70";
}

.bb-icon-setting-o:before {
  content: "\ec78";
}

.bb-icon-drag-o:before {
  content: "\e62c";
}

.bb-icon-file-o:before {
  content: "\eb71";
}

.bb-icon-setting:before {
  content: "\ec79";
}

.bb-icon-approve-o:before {
  content: "\e664";
}

.bb-icon-file-searching-o:before {
  content: "\eb72";
}

.bb-icon-shared_o:before {
  content: "\ec7a";
}

.bb-icon-approve:before {
  content: "\e6f0";
}

.bb-icon-Fillet-Upper-left_o:before {
  content: "\eb73";
}

.bb-icon-shop-o:before {
  content: "\ec7b";
}

.bb-icon-caret-down:before {
  content: "\e8ec";
}

.bb-icon-filter-o:before {
  content: "\eb74";
}

.bb-icon-shouqi-zj:before {
  content: "\ec7c";
}

.bb-icon-caret-up:before {
  content: "\e8ed";
}

.bb-icon-Fillet-Upper-right_o:before {
  content: "\eb75";
}

.bb-icon-simple-kanban-o:before {
  content: "\ec7d";
}

.bb-icon-Fillet-bottom-right_o:before {
  content: "\eb76";
}

.bb-icon-single-selection-o:before {
  content: "\ec7e";
}

.bb-icon-finish:before {
  content: "\eb77";
}

.bb-icon-skin-o:before {
  content: "\ec7f";
}

.bb-icon-First-line-indent_o:before {
  content: "\eb78";
}

.bb-icon-singnal:before {
  content: "\ec80";
}

.bb-icon-flag-o:before {
  content: "\eb79";
}

.bb-icon-skin-o1:before {
  content: "\ec81";
}

.bb-icon-flow-cancel-o:before {
  content: "\eb7c";
}

.bb-icon-shopping-cart-o:before {
  content: "\ec82";
}

.bb-icon-flow-underway-o:before {
  content: "\eb7d";
}

.bb-icon-shrink-o:before {
  content: "\ec83";
}

.bb-icon-flow-underway:before {
  content: "\eb7f";
}

.bb-icon-slideshow-444444:before {
  content: "\ec84";
}

.bb-icon-folder:before {
  content: "\eb81";
}

.bb-icon-slideshow-4848:before {
  content: "\ec85";
}

.bb-icon-fine-broken-o:before {
  content: "\eb82";
}

.bb-icon-sound-o:before {
  content: "\ec86";
}

.bb-icon-flow-finish-o:before {
  content: "\eb83";
}

.bb-icon-shared-symbol_o:before {
  content: "\ec87";
}

.bb-icon-folder-o:before {
  content: "\eb84";
}

.bb-icon-smile-o:before {
  content: "\ec88";
}

.bb-icon-folder-open-o:before {
  content: "\eb85";
}

.bb-icon-smile:before {
  content: "\ec89";
}

.bb-icon-flow-turndown-o:before {
  content: "\eb86";
}

.bb-icon-slideshow-o:before {
  content: "\ec8a";
}

.bb-icon-fork-o:before {
  content: "\eb87";
}

.bb-icon-square-left:before {
  content: "\ec8b";
}

.bb-icon-flow-pass-o:before {
  content: "\eb88";
}

.bb-icon-square-left-o:before {
  content: "\ec8c";
}

.bb-icon-folders-searching-o:before {
  content: "\eb89";
}

.bb-icon-square-up:before {
  content: "\ec8d";
}

.bb-icon-form-application-o:before {
  content: "\eb8b";
}

.bb-icon-star-circle:before {
  content: "\ec8e";
}

.bb-icon-follow-up-o:before {
  content: "\eb8c";
}

.bb-icon-square-right-o:before {
  content: "\ec8f";
}

.bb-icon-form-o:before {
  content: "\eb8d";
}

.bb-icon-star-sharp:before {
  content: "\ec90";
}

.bb-icon-forward:before {
  content: "\eb8e";
}

.bb-icon-star-sharp-o:before {
  content: "\ec91";
}

.bb-icon-frame:before {
  content: "\eb8f";
}

.bb-icon-step-backward:before {
  content: "\ec92";
}

.bb-icon-freeze-left-o:before {
  content: "\eb90";
}

.bb-icon-star:before {
  content: "\ec93";
}

.bb-icon-frown-o:before {
  content: "\eb91";
}

.bb-icon-square-up-o:before {
  content: "\ec94";
}

.bb-icon-freeze-right-o:before {
  content: "\eb92";
}

.bb-icon-step-forward:before {
  content: "\ec95";
}

.bb-icon-form-related-manycho:before {
  content: "\eb93";
}

.bb-icon-square-right:before {
  content: "\ec96";
}

.bb-icon-fullscreen-o:before {
  content: "\eb94";
}

.bb-icon-star-o:before {
  content: "\ec97";
}

.bb-icon-form-related-o:before {
  content: "\eb95";
}

.bb-icon-straightline:before {
  content: "\ec98";
}

.bb-icon-frozen-o:before {
  content: "\eb96";
}

.bb-icon-strikethrough_o:before {
  content: "\ec99";
}

.bb-icon-frame-thickening:before {
  content: "\eb97";
}

.bb-icon-subfield-2:before {
  content: "\ec9a";
}

.bb-icon-frown:before {
  content: "\eb98";
}

.bb-icon-subfield-4:before {
  content: "\ec9b";
}

.bb-icon-fullscreen-restore-o:before {
  content: "\eb99";
}

.bb-icon-subfield-6666:before {
  content: "\ec9c";
}

.bb-icon-fund-adjustment-o:before {
  content: "\eb9a";
}

.bb-icon-subfield-1:before {
  content: "\ec9d";
}

.bb-icon-gateway_inclusive:before {
  content: "\eb9b";
}

.bb-icon-subfield-3:before {
  content: "\ec9e";
}

.bb-icon-geren-zj:before {
  content: "\eb9c";
}

.bb-icon-subfield-168:before {
  content: "\ec9f";
}

.bb-icon-gift-o:before {
  content: "\eb9d";
}

.bb-icon-subfield-888:before {
  content: "\eca0";
}

.bb-icon-get-address-o:before {
  content: "\eb9e";
}

.bb-icon-subfield-816:before {
  content: "\eca1";
}

.bb-icon-gateway_parallel:before {
  content: "\eb9f";
}

.bb-icon-subfield-6126:before {
  content: "\eca2";
}

.bb-icon-get-address:before {
  content: "\eba0";
}

.bb-icon-subfield-1212:before {
  content: "\eca3";
}

.bb-icon-goods-o:before {
  content: "\eba1";
}

.bb-icon-subfield-o:before {
  content: "\eca4";
}

.bb-icon-group-topic-o:before {
  content: "\eba2";
}

.bb-icon-subgroup:before {
  content: "\eca5";
}

.bb-icon-group:before {
  content: "\eba3";
}

.bb-icon-sun-plate-o:before {
  content: "\eca6";
}

.bb-icon-hand-click-o:before {
  content: "\eba4";
}

.bb-icon-subordinate-o:before {
  content: "\eca7";
}

.bb-icon-github:before {
  content: "\eba5";
}

.bb-icon-subordinate:before {
  content: "\eca8";
}

.bb-icon-google:before {
  content: "\eba6";
}

.bb-icon-swap-o:before {
  content: "\eca9";
}

.bb-icon-hdd-o:before {
  content: "\eba7";
}

.bb-icon-stock-o:before {
  content: "\ecaa";
}

.bb-icon-highly-adaptive-o:before {
  content: "\eba8";
}

.bb-icon-swap-right-o:before {
  content: "\ecab";
}

.bb-icon-home-o:before {
  content: "\eba9";
}

.bb-icon-swap-left-o:before {
  content: "\ecac";
}

.bb-icon-hide_o:before {
  content: "\ebaa";
}

.bb-icon-supplier-management:before {
  content: "\ecad";
}

.bb-icon-funnel-plot-o:before {
  content: "\ebab";
}

.bb-icon-switcher-o:before {
  content: "\ecae";
}

.bb-icon-heart:before {
  content: "\ebac";
}

.bb-icon-symbol_Address:before {
  content: "\ecaf";
}

.bb-icon-histogram-o:before {
  content: "\ebad";
}

.bb-icon-symbol_Anchor:before {
  content: "\ecb0";
}

.bb-icon-home:before {
  content: "\ebae";
}

.bb-icon-symbol_approvalopinion:before {
  content: "\ecb1";
}

.bb-icon-ic_favorite:before {
  content: "\ebaf";
}

.bb-icon-symbol_Associationform:before {
  content: "\ecb2";
}

.bb-icon-heart-o:before {
  content: "\ebb0";
}

.bb-icon-symbol_backtotop:before {
  content: "\ecb3";
}

.bb-icon-hourglass-o:before {
  content: "\ebb1";
}

.bb-icon-symbol_bubble:before {
  content: "\ecb4";
}

.bb-icon-account-box:before {
  content: "\eaab";
}

.bb-icon-ic_shopping_basket:before {
  content: "\ebb2";
}

.bb-icon-same-highbeifen3:before {
  content: "\ecb5";
}

.bb-icon-appstore-o:before {
  content: "\eaac";
}

.bb-icon-ignore:before {
  content: "\ebb3";
}

.bb-icon-symbol_button:before {
  content: "\ecb6";
}

.bb-icon-account-o:before {
  content: "\eaad";
}

.bb-icon-info-cirlce-o:before {
  content: "\ebb4";
}

.bb-icon-symbol_carousel-container:before {
  content: "\ecb7";
}

.bb-icon-add-folder-o:before {
  content: "\eaae";
}

.bb-icon-ic_event_note:before {
  content: "\ebb5";
}

.bb-icon-symbol_card1:before {
  content: "\ecb8";
}

.bb-icon-add-file-o:before {
  content: "\eaaf";
}

.bb-icon-indent-left-o:before {
  content: "\ebb6";
}

.bb-icon-symbol_carousel:before {
  content: "\ecb9";
}

.bb-icon-add-user-group-o:before {
  content: "\eab0";
}

.bb-icon-id-card-o:before {
  content: "\ebb7";
}

.bb-icon-symbol_cascade:before {
  content: "\ecba";
}

.bb-icon-align-left:before {
  content: "\eab1";
}

.bb-icon-ie:before {
  content: "\ebb9";
}

.bb-icon-symbol_chart:before {
  content: "\ecbb";
}

.bb-icon-align-horizontal-cen:before {
  content: "\eab2";
}

.bb-icon-indent-right-o:before {
  content: "\ebba";
}

.bb-icon-symbol_card:before {
  content: "\ecbc";
}

.bb-icon-align-bottom:before {
  content: "\eab3";
}

.bb-icon-inbox-o:before {
  content: "\ebbb";
}

.bb-icon-symbol_checkbox:before {
  content: "\ecbd";
}

.bb-icon-add-user-o:before {
  content: "\eab4";
}

.bb-icon-info:before {
  content: "\ebbc";
}

.bb-icon-symbol_CitySelection:before {
  content: "\ecbe";
}

.bb-icon-addvalue-service-o:before {
  content: "\eab5";
}

.bb-icon-interview-evaluation:before {
  content: "\ebbd";
}

.bb-icon-symbol_child_table:before {
  content: "\ecbf";
}

.bb-icon-align-right:before {
  content: "\eab6";
}

.bb-icon-insert-chart:before {
  content: "\ebbe";
}

.bb-icon-symbol_comment:before {
  content: "\ecc0";
}

.bb-icon-align-top:before {
  content: "\eab7";
}

.bb-icon-inventory-table-o:before {
  content: "\ebbf";
}

.bb-icon-symbol_container:before {
  content: "\ecc1";
}

.bb-icon-align-vertical-cente:before {
  content: "\eab8";
}

.bb-icon-Italic:before {
  content: "\ebc0";
}

.bb-icon-symbol_Collapse:before {
  content: "\ecc2";
}

.bb-icon-alipay-circle:before {
  content: "\eab9";
}

.bb-icon-jar-file-o:before {
  content: "\ebc1";
}

.bb-icon-symbol_crumbs:before {
  content: "\ecc3";
}

.bb-icon-alipay-square:before {
  content: "\eaba";
}

.bb-icon-job-certification-o:before {
  content: "\ebc2";
}

.bb-icon-symbol_date:before {
  content: "\ecc4";
}

.bb-icon-aliwangwang:before {
  content: "\eabb";
}

.bb-icon-jointed-board-o:before {
  content: "\ebc3";
}

.bb-icon-symbol_date1:before {
  content: "\ecc5";
}

.bb-icon-aliwangwang-o:before {
  content: "\eabc";
}

.bb-icon-key-o:before {
  content: "\ebc4";
}

.bb-icon-symbol_demo:before {
  content: "\ecc6";
}

.bb-icon-android-o:before {
  content: "\eabd";
}

.bb-icon-jpg-file-o:before {
  content: "\ebc5";
}

.bb-icon-symbol_dialogbox:before {
  content: "\ecc7";
}

.bb-icon-android:before {
  content: "\eabe";
}

.bb-icon-laststep-zj:before {
  content: "\ebc6";
}

.bb-icon-symbol_department:before {
  content: "\ecc8";
}

.bb-icon-API-o:before {
  content: "\eabf";
}

.bb-icon-laptop-o:before {
  content: "\ebc7";
}

.bb-icon-symbol_Done:before {
  content: "\ecc9";
}

.bb-icon-appstore:before {
  content: "\eac0";
}

.bb-icon-lane_vertical:before {
  content: "\ebc8";
}

.bb-icon-symbol_Digitalinputbox:before {
  content: "\ecca";
}

.bb-icon-apple-o:before {
  content: "\eac1";
}

.bb-icon-left-alignment:before {
  content: "\ebc9";
}

.bb-icon-symbol_Drop-down:before {
  content: "\eccb";
}

.bb-icon-apple:before {
  content: "\eac2";
}

.bb-icon-lane_level:before {
  content: "\ebca";
}

.bb-icon-symbol_drawer:before {
  content: "\eccc";
}

.bb-icon-arrow-left-o:before {
  content: "\eac3";
}

.bb-icon-leave-application-o:before {
  content: "\ebcb";
}

.bb-icon-symbol_Drop-downbox:before {
  content: "\eccd";
}

.bb-icon-arrow-down-o:before {
  content: "\eac4";
}

.bb-icon-layout-o:before {
  content: "\ebcc";
}

.bb-icon-symbol_Drop-down1:before {
  content: "\ecce";
}

.bb-icon-area-chart:before {
  content: "\eac5";
}

.bb-icon-KPI-management-o:before {
  content: "\ebcd";
}

.bb-icon-symbol_drop-downmenu:before {
  content: "\eccf";
}

.bb-icon-arrow-right-o:before {
  content: "\eac6";
}

.bb-icon-like:before {
  content: "\ebce";
}

.bb-icon-symbol_Gongge:before {
  content: "\ecd0";
}

.bb-icon-arrow-up-o:before {
  content: "\eac7";
}

.bb-icon-line-segment:before {
  content: "\ebcf";
}

.bb-icon-symbol_Grid:before {
  content: "\ecd1";
}

.bb-icon-arrows-alt-o:before {
  content: "\eac8";
}

.bb-icon-line-chart-o:before {
  content: "\ebd0";
}

.bb-icon-symbol_Initiation-process:before {
  content: "\ecd3";
}

.bb-icon-arrows-o:before {
  content: "\eac9";
}

.bb-icon-like-o:before {
  content: "\ebd1";
}

.bb-icon-symbol_label:before {
  content: "\ecd4";
}

.bb-icon-ascending-o:before {
  content: "\eaca";
}

.bb-icon-left-o:before {
  content: "\ebd2";
}

.bb-icon-symbol_Input-box:before {
  content: "\ecd5";
}

.bb-icon-asset-account-o:before {
  content: "\eacb";
}

.bb-icon-Line-spacing_o:before {
  content: "\ebd3";
}

.bb-icon-symbol_Empty:before {
  content: "\ecd6";
}

.bb-icon-assembly-o:before {
  content: "\eacc";
}

.bb-icon-link-o:before {
  content: "\ebd4";
}

.bb-icon-symbol_Footer:before {
  content: "\ecd7";
}

.bb-icon-back-o:before {
  content: "\eacd";
}

.bb-icon-linkman-o:before {
  content: "\ebd5";
}

.bb-icon-symbol_Foldpanel:before {
  content: "\ecd8";
}

.bb-icon-associated-o:before {
  content: "\eace";
}

.bb-icon-list-work-o:before {
  content: "\ebd6";
}

.bb-icon-symbol_head:before {
  content: "\ecd9";
}

.bb-icon-bank-o:before {
  content: "\eacf";
}

.bb-icon-list-o:before {
  content: "\ebd7";
}

.bb-icon-symbol_form:before {
  content: "\ecda";
}

.bb-icon-back-cancel-o:before {
  content: "\ead0";
}

.bb-icon-load-bar-o:before {
  content: "\ebd8";
}

.bb-icon-Import-export:before {
  content: "\ead1";
}

.bb-icon-liucheng-zj:before {
  content: "\ebd9";
}

.bb-icon-symbol_list:before {
  content: "\ecdc";
}

.bb-icon-backward:before {
  content: "\ead2";
}

.bb-icon-list-work:before {
  content: "\ebda";
}

.bb-icon-symbol_line:before {
  content: "\ecdd";
}

.bb-icon-barcode-o:before {
  content: "\ead3";
}

.bb-icon-logic-switch-o:before {
  content: "\ebdb";
}

.bb-icon-symbol_login:before {
  content: "\ecde";
}

.bb-icon-batch-download-o:before {
  content: "\ead4";
}

.bb-icon-location:before {
  content: "\ebdc";
}

.bb-icon-bars-o:before {
  content: "\ead5";
}

.bb-icon-logic:before {
  content: "\ebdd";
}

.bb-icon-symbol_logic:before {
  content: "\ece0";
}

.bb-icon-batch-export:before {
  content: "\ead6";
}

.bb-icon-mail-o:before {
  content: "\ebde";
}

.bb-icon-symbol_logo:before {
  content: "\ece1";
}

.bb-icon-Batch-processing-1:before {
  content: "\ead7";
}

.bb-icon-login-o:before {
  content: "\ebdf";
}

.bb-icon-symbol_My-process:before {
  content: "\ece2";
}

.bb-icon-batch-processing-2:before {
  content: "\ead8";
}

.bb-icon-lock-o:before {
  content: "\ebe0";
}

.bb-icon-symbol_Multilinetext:before {
  content: "\ece3";
}

.bb-icon-bj1-zj:before {
  content: "\ead9";
}

.bb-icon-male-o:before {
  content: "\ebe1";
}

.bb-icon-symbol_My-process2:before {
  content: "\ece4";
}

.bb-icon-bj2-zj:before {
  content: "\eada";
}

.bb-icon-loading-o:before {
  content: "\ebe2";
}

.bb-icon-symbol_panel-container:before {
  content: "\ece5";
}

.bb-icon-bells-o:before {
  content: "\eadb";
}

.bb-icon-maintenance-organiza:before {
  content: "\ebe3";
}

.bb-icon-symbol_map:before {
  content: "\ece6";
}

.bb-icon-book:before {
  content: "\eadc";
}

.bb-icon-logout-o:before {
  content: "\ebe4";
}

.bb-icon-symbol_Radio:before {
  content: "\ece7";
}

.bb-icon-bottom-alignment:before {
  content: "\eadd";
}

.bb-icon-meh:before {
  content: "\ebe5";
}

.bb-icon-symbol_pic:before {
  content: "\ece8";
}

.bb-icon-book-o:before {
  content: "\eade";
}

.bb-icon-meh-o:before {
  content: "\ebe6";
}

.bb-icon-symbol_pic-upload:before {
  content: "\ece9";
}

.bb-icon-bulb-o:before {
  content: "\eadf";
}

.bb-icon-matrix:before {
  content: "\ebe7";
}

.bb-icon-symbol_progressbar:before {
  content: "\ecea";
}

.bb-icon-briefcase-o:before {
  content: "\eae0";
}

.bb-icon-medical-box-o:before {
  content: "\ebe8";
}

.bb-icon-symbol_paging:before {
  content: "\eceb";
}

.bb-icon-business-center:before {
  content: "\eae1";
}

.bb-icon-memu-zj:before {
  content: "\ebe9";
}

.bb-icon-symbol_read:before {
  content: "\ecec";
}

.bb-icon-budget-o:before {
  content: "\eae2";
}

.bb-icon-map-o:before {
  content: "\ebea";
}

.bb-icon-symbol_score:before {
  content: "\eced";
}

.bb-icon-calculator-o:before {
  content: "\eae3";
}

.bb-icon-merge-o:before {
  content: "\ebeb";
}

.bb-icon-symbol_Slide:before {
  content: "\ecee";
}

.bb-icon-calendar-o:before {
  content: "\eae4";
}

.bb-icon-minus-o:before {
  content: "\ebec";
}

.bb-icon-symbol_sidenav:before {
  content: "\ecef";
}

.bb-icon-camera-o:before {
  content: "\eae5";
}

.bb-icon-menu-unfold-o:before {
  content: "\ebed";
}

.bb-icon-symbol_layout:before {
  content: "\ecf0";
}

.bb-icon-camera:before {
  content: "\eae6";
}

.bb-icon-menu-fold-o:before {
  content: "\ebee";
}

.bb-icon-symbol_Richtext:before {
  content: "\ecf1";
}

.bb-icon-cancell-o:before {
  content: "\eae7";
}

.bb-icon-minus-square-o:before {
  content: "\ebef";
}

.bb-icon-symbol_staff:before {
  content: "\ecf2";
}

.bb-icon-captions-o:before {
  content: "\eae8";
}

.bb-icon-minus-square:before {
  content: "\ebf0";
}

.bb-icon-symbol_Shuttle:before {
  content: "\ecf3";
}

.bb-icon-capital-flow-o:before {
  content: "\eae9";
}

.bb-icon-minus-circle-o:before {
  content: "\ebf1";
}

.bb-icon-symbol_Process-details:before {
  content: "\ecf4";
}

.bb-icon-car-o:before {
  content: "\eaea";
}

.bb-icon-message-o:before {
  content: "\ebf2";
}

.bb-icon-symbol_table:before {
  content: "\ecf5";
}

.bb-icon-card-view-o:before {
  content: "\eaeb";
}

.bb-icon-modification-time-o:before {
  content: "\ebf3";
}

.bb-icon-symbol_motherset:before {
  content: "\ecf6";
}

.bb-icon-caret-circle-up-o:before {
  content: "\eaec";
}

.bb-icon-minus-circle:before {
  content: "\ebf4";
}

.bb-icon-symbol_Step:before {
  content: "\ecf7";
}

.bb-icon-caret-left:before {
  content: "\eaed";
}

.bb-icon-more-o:before {
  content: "\ebf5";
}

.bb-icon-symbol_textlist:before {
  content: "\ecf8";
}

.bb-icon-caret-down-o:before {
  content: "\eaee";
}

.bb-icon-more1:before {
  content: "\ebf6";
}

.bb-icon-symbol_staffdepartment:before {
  content: "\ecf9";
}

.bb-icon-caret-right:before {
  content: "\eaef";
}

.bb-icon-more:before {
  content: "\ebf7";
}

.bb-icon-symbol_tab:before {
  content: "\ecfa";
}

.bb-icon-caret-up-o:before {
  content: "\eaf0";
}

.bb-icon-mobile:before {
  content: "\ebf8";
}

.bb-icon-symbol_tabs:before {
  content: "\ecfb";
}

.bb-icon-carving-o:before {
  content: "\eaf1";
}

.bb-icon-mother-set:before {
  content: "\ebf9";
}

.bb-icon-symbol_timeaxis:before {
  content: "\ecfc";
}

.bb-icon-catalogue-o:before {
  content: "\eaf2";
}

.bb-icon-move-o:before {
  content: "\ebfa";
}

.bb-icon-symbol_timeselector:before {
  content: "\ecfd";
}

.bb-icon-cell:before {
  content: "\eaf3";
}

.bb-icon-normal_smile:before {
  content: "\ebfb";
}

.bb-icon-symbol_Singlelineoftext:before {
  content: "\ecfe";
}

.bb-icon-center-alignment:before {
  content: "\eaf4";
}

.bb-icon-music:before {
  content: "\ebfc";
}

.bb-icon-symbol_Step-container:before {
  content: "\ecff";
}

.bb-icon-center-alignment_2:before {
  content: "\eaf5";
}

.bb-icon-notebook-o:before {
  content: "\ebfd";
}

.bb-icon-symbol_switch:before {
  content: "\ed00";
}

.bb-icon-chakan-zj:before {
  content: "\eaf6";
}

.bb-icon-notification-o:before {
  content: "\ebfe";
}

.bb-icon-symbol_text:before {
  content: "\ed01";
}

.bb-icon-check:before {
  content: "\eaf7";
}

.bb-icon-one-columns-o:before {
  content: "\ebff";
}

.bb-icon-symbol_toberead:before {
  content: "\ed02";
}

.bb-icon-check-circle:before {
  content: "\eaf8";
}

.bb-icon-onerow-twocolumn:before {
  content: "\ec00";
}

.bb-icon-tag-o:before {
  content: "\ed03";
}

.bb-icon-check-circle-o:before {
  content: "\eaf9";
}

.bb-icon-nextlevel-zj:before {
  content: "\ec01";
}

.bb-icon-to-top-o:before {
  content: "\ed04";
}

.bb-icon-change-material-o:before {
  content: "\eafa";
}

.bb-icon-opensearch-o:before {
  content: "\ec02";
}

.bb-icon-symbol_video:before {
  content: "\ed06";
}

.bb-icon-check-square-o:before {
  content: "\eafb";
}

.bb-icon-other-outbound-o:before {
  content: "\ec03";
}

.bb-icon-transmit-o:before {
  content: "\ed07";
}

.bb-icon-check-square:before {
  content: "\eafc";
}

.bb-icon-other-warehouse-o:before {
  content: "\ec04";
}

.bb-icon-tab-o:before {
  content: "\ed08";
}

.bb-icon-chrome:before {
  content: "\eafd";
}

.bb-icon-operation-log-o:before {
  content: "\ec05";
}

.bb-icon-tags-o:before {
  content: "\ed09";
}

.bb-icon-circle-down-o:before {
  content: "\eafe";
}

.bb-icon-number:before {
  content: "\ec06";
}

.bb-icon-track-o:before {
  content: "\ed0a";
}

.bb-icon-circle-down:before {
  content: "\eaff";
}

.bb-icon-paperclip-o:before {
  content: "\ec07";
}

.bb-icon-transfer-application:before {
  content: "\ed0b";
}

.bb-icon-circle-left-o:before {
  content: "\eb00";
}

.bb-icon-pause-circle-o:before {
  content: "\ec08";
}

.bb-icon-tag-heart:before {
  content: "\ed0c";
}

.bb-icon-circle-left:before {
  content: "\eb01";
}

.bb-icon-out-application-o:before {
  content: "\ec09";
}

.bb-icon-travel-application-o:before {
  content: "\ed0d";
}

.bb-icon-circle-o:before {
  content: "\eb02";
}

.bb-icon-outer-o:before {
  content: "\ec0a";
}

.bb-icon-tablet:before {
  content: "\ed0e";
}

.bb-icon-circle-right-o:before {
  content: "\eb03";
}

.bb-icon-pause-circle:before {
  content: "\ec0b";
}

.bb-icon-tag:before {
  content: "\ed0f";
}

.bb-icon-circle-right:before {
  content: "\eb04";
}

.bb-icon-pause:before {
  content: "\ec0c";
}

.bb-icon-top-alignment:before {
  content: "\ed10";
}

.bb-icon-circle-up-o:before {
  content: "\eb05";
}

.bb-icon-paste:before {
  content: "\ec0d";
}

.bb-icon-trademark-o:before {
  content: "\ed11";
}

.bb-icon-circle-up:before {
  content: "\eb06";
}

.bb-icon-package:before {
  content: "\ec0e";
}

.bb-icon-table-o:before {
  content: "\ed12";
}

.bb-icon-circulated-zj:before {
  content: "\eb07";
}

.bb-icon-paint-bucket:before {
  content: "\ec0f";
}

.bb-icon-termination:before {
  content: "\ed13";
}

.bb-icon-clock-circle-o:before {
  content: "\eb08";
}

.bb-icon-payment-o:before {
  content: "\ec10";
}

.bb-icon-tags:before {
  content: "\ed14";
}

.bb-icon-classify-o:before {
  content: "\eb09";
}

.bb-icon-pay-circle:before {
  content: "\ec11";
}

.bb-icon-t:before {
  content: "\ed15";
}

.bb-icon-clock-circle:before {
  content: "\eb0a";
}

.bb-icon-pay-circle-o:before {
  content: "\ec12";
}

.bb-icon-symbol_upload:before {
  content: "\ed16";
}

.bb-icon-clock-edit-o:before {
  content: "\eb0b";
}

.bb-icon-process-o:before {
  content: "\ec13";
}

.bb-icon-sync-o:before {
  content: "\ed17";
}

.bb-icon-close-circle-o:before {
  content: "\eb0c";
}

.bb-icon-plus-square-o:before {
  content: "\ec14";
}

.bb-icon-tool-o:before {
  content: "\ed18";
}

.bb-icon-clock-printer-o:before {
  content: "\eb0e";
}

.bb-icon-plane-o:before {
  content: "\ec15";
}

.bb-icon-team-singlechoice-o:before {
  content: "\ed19";
}

.bb-icon-close-square-o:before {
  content: "\eb0f";
}

.bb-icon-performance-evaluati:before {
  content: "\ec16";
}

.bb-icon-symbols_audio:before {
  content: "\ed1a";
}

.bb-icon-close:before {
  content: "\eb10";
}

.bb-icon-ppt:before {
  content: "\ec17";
}

.bb-icon-three-columns-o:before {
  content: "\ed1b";
}

.bb-icon-close-square:before {
  content: "\eb11";
}

.bb-icon-purchase-price-maint:before {
  content: "\ec18";
}

.bb-icon-text-t:before {
  content: "\ed1c";
}

.bb-icon-cloud-download:before {
  content: "\eb12";
}

.bb-icon-plus-square:before {
  content: "\ec19";
}

.bb-icon-team-o:before {
  content: "\ed1d";
}

.bb-icon-cloud-download-o:before {
  content: "\eb13";
}

.bb-icon-plus-circle-o:before {
  content: "\ec1a";
}

.bb-icon-thickening:before {
  content: "\ed1e";
}

.bb-icon-cloud-o:before {
  content: "\eb14";
}

.bb-icon-progress-o:before {
  content: "\ec1b";
}

.bb-icon-symbol_warning:before {
  content: "\ed1f";
}

.bb-icon-cloud-upload:before {
  content: "\eb15";
}

.bb-icon-plus-o:before {
  content: "\ec1c";
}

.bb-icon-symbol_upcoming:before {
  content: "\ed20";
}

.bb-icon-cloud:before {
  content: "\eb16";
}

.bb-icon-purchase-order-o:before {
  content: "\ec1d";
}

.bb-icon-team-manychoice-o:before {
  content: "\ed21";
}

.bb-icon-cloud-upload-o:before {
  content: "\eb17";
}

.bb-icon-plus-circle:before {
  content: "\ec1e";
}

.bb-icon-symbol_treecontrol:before {
  content: "\ed22";
}

.bb-icon-clues-o:before {
  content: "\eb18";
}

.bb-icon-profile-o:before {
  content: "\ec1f";
}

.bb-icon-text-multiline:before {
  content: "\ed23";
}

.bb-icon-code-square:before {
  content: "\eb19";
}

.bb-icon-pie-chart-o:before {
  content: "\ec20";
}

.bb-icon-symbol_tree:before {
  content: "\ed24";
}

.bb-icon-code-square-o:before {
  content: "\eb1a";
}

.bb-icon-play-circle-o:before {
  content: "\ec21";
}

.bb-icon-symbol_audio1:before {
  content: "\ed25";
}

.bb-icon-compass-o:before {
  content: "\eb1b";
}

.bb-icon-public-sea-pool-o:before {
  content: "\ec22";
}

.bb-icon-text-h:before {
  content: "\ed26";
}

.bb-icon-cold-press-o:before {
  content: "\eb1c";
}

.bb-icon-procurement-warehous:before {
  content: "\ec23";
}

.bb-icon-text-file-o:before {
  content: "\ed27";
}

.bb-icon-competitors-o:before {
  content: "\eb1d";
}

.bb-icon-play-circle:before {
  content: "\ec24";
}

.bb-icon-symbol_video1:before {
  content: "\ed28";
}

.bb-icon-compiling-applicatio:before {
  content: "\eb1e";
}

.bb-icon-pie-chart:before {
  content: "\ec25";
}

.bb-icon-talent-pool-o:before {
  content: "\ed29";
}

.bb-icon-contacts-o:before {
  content: "\eb1f";
}

.bb-icon-process-log-o:before {
  content: "\ec26";
}

.bb-icon-symbol_topnav:before {
  content: "\ed2a";
}

.bb-icon-connect-o:before {
  content: "\eb20";
}

.bb-icon-pen-o:before {
  content: "\ec27";
}

.bb-icon-trophy-o:before {
  content: "\ed2b";
}

.bb-icon-confluence-o:before {
  content: "\eb21";
}

.bb-icon-poweroff-o:before {
  content: "\ec28";
}

.bb-icon-two-columns-o:before {
  content: "\ed2c";
}

.bb-icon-contract-management:before {
  content: "\eb22";
}

.bb-icon-process_point:before {
  content: "\ec29";
}

.bb-icon-twitter:before {
  content: "\ed2d";
}

.bb-icon-contract-o:before {
  content: "\eb24";
}

.bb-icon-process-seal-o:before {
  content: "\ec2a";
}

.bb-icon-unkonw:before {
  content: "\ed2e";
}

.bb-icon-conversation-o:before {
  content: "\eb25";
}

.bb-icon-post-salary-o:before {
  content: "\ec2b";
}

.bb-icon-underline:before {
  content: "\ed2f";
}

.bb-icon-copy-o:before {
  content: "\eb26";
}

.bb-icon-process_info:before {
  content: "\ec2c";
}

.bb-icon-up-o:before {
  content: "\ed30";
}

.bb-icon-copyright-o:before {
  content: "\eb27";
}

.bb-icon-phone-o:before {
  content: "\ec2d";
}

.bb-icon-unknow-file-o:before {
  content: "\ed31";
}

.bb-icon-creator:before {
  content: "\eb28";
}

.bb-icon-pdf-file-o:before {
  content: "\ec2e";
}

.bb-icon-upload-o:before {
  content: "\ed32";
}

.bb-icon-creditcard-o:before {
  content: "\eb29";
}

.bb-icon-process:before {
  content: "\ec2f";
}

.bb-icon-unlock-o:before {
  content: "\ed33";
}

.bb-icon-customer-o:before {
  content: "\eb2a";
}

.bb-icon-pdf:before {
  content: "\ec30";
}

.bb-icon-user-modifier-o:before {
  content: "\ed34";
}

.bb-icon-customer-service-o:before {
  content: "\eb2b";
}

.bb-icon-position-o:before {
  content: "\ec31";
}

.bb-icon-usb:before {
  content: "\ed35";
}

.bb-icon-daiban-zj:before {
  content: "\eb2c";
}

.bb-icon-picture-o:before {
  content: "\ec32";
}

.bb-icon-user-list-o:before {
  content: "\ed36";
}

.bb-icon-daily-paper-o:before {
  content: "\eb2d";
}

.bb-icon-payment-receipt-o:before {
  content: "\ec33";
}

.bb-icon-user-list:before {
  content: "\ed37";
}

.bb-icon-daiyue-zj:before {
  content: "\eb2e";
}

.bb-icon-post-maintenance-o:before {
  content: "\ec34";
}

.bb-icon-user-o:before {
  content: "\ed38";
}

.bb-icon-dashboard-o:before {
  content: "\eb2f";
}

.bb-icon-picture:before {
  content: "\ec35";
}

.bb-icon-user:before {
  content: "\ed39";
}

.bb-icon-ppt-file-o:before {
  content: "\ec36";
}

.bb-icon-user-printer-o:before {
  content: "\ed3a";
}

.bb-icon-delete-o1:before {
  content: "\eb31";
}

.bb-icon-printer-o:before {
  content: "\ec37";
}

.bb-icon-verification-form-o:before {
  content: "\ed3b";
}

.bb-icon-delete-user-group-o:before {
  content: "\eb32";
}

.bb-icon-payment-order-o:before {
  content: "\ec38";
}

.bb-icon-verticle-left-o:before {
  content: "\ed3c";
}

.bb-icon-delete-user-o:before {
  content: "\eb33";
}

.bb-icon-personal-sales-plan:before {
  content: "\ec39";
}

.bb-icon-verticle-right-o:before {
  content: "\ed3d";
}

.bb-icon-department-multiple:before {
  content: "\eb34";
}

.bb-icon-polish-o:before {
  content: "\ec3a";
}

.bb-icon-vertical-milling-o:before {
  content: "\ed3e";
}

.bb-icon-department-o:before {
  content: "\eb35";
}

.bb-icon-purchasing-applicati:before {
  content: "\ec3b";
}

.bb-icon-wallet-o:before {
  content: "\ed3f";
}

.bb-icon-department-single-se:before {
  content: "\eb36";
}

.bb-icon-pushpin:before {
  content: "\ec3c";
}

.bb-icon-video:before {
  content: "\ed40";
}

.bb-icon-departmental-sales-p:before {
  content: "\eb37";
}

.bb-icon-question-circle-o:before {
  content: "\ec3d";
}

.bb-icon-video-camera-o:before {
  content: "\ed41";
}

.bb-icon-descending-o:before {
  content: "\eb38";
}

.bb-icon-qq:before {
  content: "\ec3e";
}

.bb-icon-warehouse-inventory:before {
  content: "\ed42";
}

.bb-icon-describe-o:before {
  content: "\eb39";
}

.bb-icon-purchasing-inquiry-o:before {
  content: "\ec3f";
}

.bb-icon-warehouse-allocation:before {
  content: "\ed43";
}

.bb-icon-desktop-o:before {
  content: "\eb3a";
}

.bb-icon-question-circle:before {
  content: "\ec40";
}

.bb-icon-warehouse-o:before {
  content: "\ed44";
}

.bb-icon-description:before {
  content: "\eb3b";
}

.bb-icon-pushpin-o:before {
  content: "\ec41";
}

.bb-icon-width-adaptive-o:before {
  content: "\ed45";
}

.bb-icon-dingding-circle:before {
  content: "\eb3c";
}

.bb-icon-quote-o:before {
  content: "\ec42";
}

.bb-icon-weibo:before {
  content: "\ed46";
}

.bb-icon-dingding:before {
  content: "\eb3d";
}

.bb-icon-rank-o:before {
  content: "\ec43";
}

.bb-icon-wifi:before {
  content: "\ed47";
}

.bb-icon-disassembly-o:before {
  content: "\eb3e";
}

.bb-icon-rectangle-o:before {
  content: "\ec45";
}

.bb-icon-disconnect-o:before {
  content: "\eb3f";
}

.bb-icon-quotation-o:before {
  content: "\ec46";
}

.bb-icon-warning-o:before {
  content: "\ed49";
}

